<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.indianfolks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayDances"
            android:label="@string/title_activity_display_dances"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.indianfolks.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Garba" />
        <activity
            android:name=".Kuchipudi"
            android:label="@string/title_activity_kuchipudi"
            android:parentActivityName=".DisplayDances"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.indianfolks.DisplayDances" />
        </activity>
        <activity
            android:name=".Bhangra"
            android:label="@string/title_activity_bhangra"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.indianfolks.MainActivity" />
        </activity>
        <activity
            android:name=".Kathak"
            android:label="@string/title_activity_kathak"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.indianfolks.MainActivity" />
        </activity>
        <activity
            android:name=".Lavani"
            android:label="@string/title_activity_lavani"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.indianfolks.MainActivity" />
        </activity>
        <activity
            android:name=".Ghoomar"
            android:label="@string/title_activity_ghoomar"
            android:parentActivityName=".DisplayDances"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.indianfolks.DisplayDances" />
        </activity>
    </application>

</manifest>
